body{
  font-family: Arial, sans-serif;
  color: #000;
}

.btn{
  display: block;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-green{
  background: #00b770;
}

.btn-green:hover{
  background: #00a666;
}

.btn-green:active{
  background: #00a666;
  color: #74c39e;
}

.container{
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header{
  padding: 70px 0 0;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.header-top{
  margin-bottom: 133px;
}

.header-top::after{
  content: "";
  display: table;
  clear: both;
}

.logo{
  float: left;
  width: 180px;
}

.main-menu{
  float: right;
  width: 640px;
  margin-top: 27px;
}

.main-menu ul{
  list-style: none;
  padding: 0;
  font-size: 0;
}

.main-menu li{
  display: inline-block;
  vertical-align: top;
  margin-right: 55px;
  font-size: 18px;
}

.main-menu li:last-child{
  margin-right: 0;
}

.main-menu a{
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.main-menu a:hover{
  text-decoration: underline;
}

.main-menu a:active{
  opacity: .3;
  text-decoration: none;
}

.promo{
  width: 450px;
  padding-bottom: 152px;
  position: relative;
  z-index: 10;
}

.promo::after{
  content: "";
  display: block;
  width: 840px;
  height: 433px;
  position: absolute;
  top: -14px;
  left: 225px;
  background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  z-index: -1;
}

.promo-title{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo p{
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  margin-bottom: 45px;
  margin-top: 27px;
}

.promo .btn{
  width: 300px;
}

.features{
  padding: 69px 0 72px;
  background-color: #efefef;
}

.features .container::after{
  content: "";
  display: table;
  clear: both;
}

.features-item{
  width: 300px;
  float: left;
  margin-right: 40px;
  position: relative;
}

.features-item:last-child{
  margin-right: 0;
}

.features-title{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.features-item p{
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  margin: 0;
}

.features-icon{
  width: 100px;
  height: 108px;
  display: block;
  position: absolute;
  top: -118px;
  left: 0;
  background-image: url("../img/sprite.png");
}

.features-icon-schedule{
  background-position: -5px -5px;
}

.features-icon-practice{
  background-position: -115px -5px;
}

.features-icon-work{
  background-position: -225px -5px;
}

.feedback{
  padding: 44px 0 61px;
}

.feedback .container{
  position: relative;
}

.feedback-title,
.contacts-title{
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.feedback-all{
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  padding-right: 68px;
  background-image: url("../img/dots.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.feedback-all:hover{
  color: #00a666;
}

.feedback-all:active{
  opacity: .3;
}

.feedback-item::after{
  content: "";
  display: table;
  clear: both;
}

.feedback-author{
  width: 290px;
  float: left;
}

.feedback-author img{
  width: 133px;
  height: 133px;
  border-radius: 50%;
  float: left;
  margin-right: 35px;
}

.feedback-author h3{
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.feedback-author p{
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}

.feedback-content{
  margin: 0;
  width: 590px;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  background: url("../img/quote-open.png") no-repeat top left,
              url("../img/quote-close.png") no-repeat bottom right;
}

.feedback-content h3{
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.feedback-content p{
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  margin: 0;
}

.contacts{
  padding: 45px 0 72px;
  background-color: #efefef;
}

.contacts .container{
  content: "";
  display: table;
  clear: both;
}

.contacts-form{
  width: 580px;
  float: left;
}

.contacts-form td{
  padding-bottom: 20px;
}

.contacts-form .title{
  width: 93px;
  padding-right: 21px;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-form .field{
  width: 467px;
}

.contacts-instruction{
  width: 300px;
  float: right;
}

.contacts-instruction h3{
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.contacts-instruction p{
  font-size: 18px;
  line-height: 24px;
  color: #404040;
  margin-top: 0;
  margin-bottom: 23px;
}

.contacts-instruction .contacts-alert{
  margin-top: 124px;
}

.contacts-alert strong{
  color: #000;
}

.main-footer{
  padding: 94px 0 73px;
  background-color: #1f2022;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.footer-top::after,
.footer-bottom::after{
  content: "";
  display: table;
  clear: both;
}

.footer-address{
  width: 285px;
  float: left;
  margin-right: 55px;
}

.footer-address .logo{
  float: none;
}

.footer-address p{
  margin-top: 69px;
}

.footer-menu{
  width: 150px;
  float: left;
  margin-top: 25px;
}

.footer-menu:nth-child(4){
  width: 206px;
}

.footer-menu:nth-child(5){
  width: 134px;
}

.footer-menu h3{
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 18px;
}

.footer-menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu li{
  margin-bottom: 24px;
}

.footer-menu a{
  font-size: 18px;
  line-height: 24px;
  color: #ffcc00;
  text-decoration: none;
}

.footer-menu a:hover{
  text-decoration: underline;
}

.footer-menu a:active{
  text-decoration: none;
  opacity: .3;
}

.footer-bottom{
  margin-top: 47px;
}

.copyright{
  width: 340px;
  float: left;
}

.footer-social-promo{
  width: 440px;
  float: left;
}

.footer-social{
  width: 190px;
  float: right;
  font-size: 0;
  text-align: right;
}

.social-btn{
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}

.social-btn-vk{
  width: 36px;
  height: 24px;
  background-image: url("../img/ico-vk.png");
  background-repeat: no-repeat;
}

.social-btn-vk:hover{
  background-image: url("../img/ico-vk-active.png");
}

.social-btn-fb{
  width: 23px;
  height: 35px;
  background-image: url("../img/ico-fb.png");
  background-repeat: no-repeat;
}

.social-btn-fb:hover{
  background-image: url("../img/ico-fb-active.png");
}

.social-btn-tw{
  width: 36px;
  height: 30px;
  background-image: url("../img/ico-tw.png");
  background-repeat: no-repeat;
}

.social-btn-tw:hover{
  background-image: url("../img/ico-tw-active.png");
}
