body{
  font-family: Arial, sans-serif;

  margin: 0;
  padding: 0;

  color: #000;
}

.btn{
  font-size: 18px;
  line-height: 24px;

  display: inline-block;

  width: 100%;
  padding: 20px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  outline: none;
}

.btn-green{
  background: #00b770;
}

.btn-green:hover{
  background: #00a666;
}

.btn-green:active{
  color: #74c39e;
  background: #00a666;
}

.container{
  width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header{
  padding: 70px 0 0;

  background-color: #ef9f13;
  background-image: url('../img/bg-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.header-top{
  margin-bottom: 133px;
}

.header-top::after{
  display: table;
  clear: both;

  content: '';
}

.logo{
  float: left;

  width: 180px;
}

.main-menu{
  float: right;

  width: 640px;
  margin-top: 27px;
}

.main-menu ul{
  font-size: 0;

  padding: 0;

  list-style: none;
}

.main-menu li{
  font-size: 18px;

  display: inline-block;

  margin-right: 55px;

  vertical-align: top;
}

.main-menu li:last-child{
  margin-right: 0;
}

.main-menu a{
  font-size: 18px;
  line-height: 24px;

  text-decoration: none;

  color: #000;
}

.main-menu a:hover{
  text-decoration: underline;
}

.main-menu a:active{
  text-decoration: none;

  opacity: .3;
}

.promo{
  position: relative;
  z-index: 10;

  width: 450px;
  padding-bottom: 152px;
}

.promo-title{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;

  text-transform: uppercase;
}

.promo p{
  font-size: 18px;
  line-height: 24px;

  margin-top: 27px;
  margin-bottom: 45px;

  color: #404040;
}

.promo .btn{
  width: 260px;
}

.features{
  padding: 69px 0 72px;

  background-color: #efefef;
}

.features .container::after{
  display: table;
  clear: both;

  content: '';
}

.features-item{
  position: relative;

  float: left;

  width: 300px;
  margin-right: 40px;
}

.features-item:last-child{
  margin-right: 0;
}

.features-title{
  font-size: 18px;
  line-height: 24px;

  margin-bottom: 24px;

  text-transform: uppercase;
}

.features-item p{
  font-size: 18px;
  line-height: 24px;

  margin: 0;

  color: #404040;
}

.features-icon{
  position: absolute;
  top: -118px;
  left: 0;

  display: block;

  width: 100px;
  height: 108px;

  background-image: url('../img/sprite.png');
}

.features-icon-schedule{
  background-position: -5px -5px;
}

.features-icon-practice{
  background-position: -115px -5px;
}

.features-icon-work{
  background-position: -225px -5px;
}

.feedback{
  padding: 44px 0 61px;
}

.feedback .container{
  position: relative;
}

.feedback-title ,
.contacts-title{
  font-size: 40px;
  line-height: 48px;

  margin-bottom: 70px;

  text-transform: uppercase;
}

.feedback-all{
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;

  position: absolute;
  top: 12px;
  right: 0;

  display: block;

  padding-right: 68px;

  text-decoration: none;
  text-transform: uppercase;

  color: #000;
  background-image: url('../img/dots.png');
  background-repeat: no-repeat;
  background-position: center right;
}

.feedback-all:hover{
  color: #00a666;
}

.feedback-all:active{
  opacity: .3;
}

.feedback-item::after{
  display: table;
  clear: both;

  content: '';
}

.feedback-author{
  float: left;

  width: 290px;
}

.feedback-author img{
  float: left;

  width: 133px;
  height: 133px;
  margin-right: 35px;

  border-radius: 50%;
}

.feedback-author h3{
  font-size: 18px;
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 25px;

  text-transform: uppercase;
}

.feedback-author p{
  font-size: 16px;
  line-height: 24px;

  color: #404040;
}

.feedback-content{
  float: left;

  width: 590px;
  margin: 0;
  padding-right: 50px;
  padding-left: 50px;

  background: url('../img/quote-open.png') no-repeat top left,
  url('../img/quote-close.png') no-repeat bottom right;
}

.feedback-content h3{
  font-size: 18px;
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 26px;

  text-transform: uppercase;
}

.feedback-content p{
  font-size: 16px;
  line-height: 24px;

  margin: 0;

  color: #404040;
}

.contacts{
  padding: 45px 0 72px;

  background-color: #efefef;
}

.contacts .container{
  display: table;
  clear: both;

  content: '';
}

.contacts-form{
  float: left;

  width: 580px;
}

.contacts-form td{
  padding-bottom: 16px;
}

.contacts-form .title{
  font-size: 18px;
  font-weight: 700;
  line-height: 54px;

  width: 93px;
  padding-right: 17px;

  text-align: right;
  vertical-align: top;
}

.contacts-form input[type='text'] ,
.contacts-form textarea{
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 23px;

  border: 2px solid #b2b2b2;
  border-radius: 2px;
  outline: none;
}

.contacts-form input[type='text']:hover ,
.contacts-form textarea:hover{
  border: 2px solid #7f7f7f;
}

.contacts-form input[type='text']:focus ,
.contacts-form textarea:focus{
  border: 2px solid #00b770;
}

.contacts-form textarea{
  height: 107px;

  resize: none;
}

.contacts-form .field{
  width: 467px;
}

.contacts-form .btn{
  border-radius: 3px;
}

.contacts-instruction{
  float: right;

  width: 300px;
}

.contacts-instruction h3{
  font-size: 18px;
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 25px;

  text-transform: uppercase;
}

.contacts-instruction p{
  font-size: 18px;
  line-height: 24px;

  margin-top: 0;
  margin-bottom: 23px;

  color: #404040;
}

.contacts-instruction .contacts-alert{
  margin-top: 124px;
}

.contacts-alert strong{
  color: #000;
}

.main-footer{
  font-size: 18px;
  line-height: 24px;

  padding: 94px 0 73px;

  color: #fff;
  background-color: #1f2022;
}

.footer-top::after ,
.footer-bottom::after{
  display: table;
  clear: both;

  content: '';
}

.footer-address{
  float: left;

  width: 285px;
  margin-right: 55px;
}

.footer-address .logo{
  float: none;
}

.footer-address p{
  margin-top: 69px;
}

.footer-menu{
  float: left;

  width: 150px;
  margin-top: 25px;
}

.footer-menu:nth-child(4){
  width: 206px;
}

.footer-menu:nth-child(5){
  width: 134px;
}

.footer-menu h3{
  font-size: 18px;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 35px;
}

.footer-menu ul{
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu li{
  margin-bottom: 24px;
}

.footer-menu a{
  font-size: 18px;
  line-height: 24px;

  text-decoration: none;

  color: #fc0;
}

.footer-menu a:hover{
  text-decoration: underline;
}

.footer-menu a:active{
  text-decoration: none;

  opacity: .3;
}

.footer-bottom{
  margin-top: 47px;
}

.copyright{
  float: left;

  width: 340px;
}

.footer-social-promo{
  float: left;

  width: 440px;
}

.footer-social{
  font-size: 0;

  float: right;

  width: 190px;

  text-align: right;
}

.social-btn{
  display: inline-block;

  margin-left: 30px;

  vertical-align: middle;
}

.social-btn-vk{
  width: 36px;
  height: 24px;

  background-image: url('../img/ico-vk.png');
  background-repeat: no-repeat;
}

.social-btn-vk:hover{
  background-image: url('../img/ico-vk-active.png');
}

.social-btn-fb{
  width: 23px;
  height: 35px;

  background-image: url('../img/ico-fb.png');
  background-repeat: no-repeat;
}

.social-btn-fb:hover{
  background-image: url('../img/ico-fb-active.png');
}

.social-btn-tw{
  width: 36px;
  height: 30px;

  background-image: url('../img/ico-tw.png');
  background-repeat: no-repeat;
}

.social-btn-tw:hover{
  background-image: url('../img/ico-tw-active.png');
}
