body {
  margin: 0;
  padding: 0;
  background-image: url("../index.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}

.main-header {
  padding-top: 65px;
  padding-bottom: 155px;
}

.header-top {
  margin-bottom: 120px;
}

.header-top::after {
  display: table;
  clear: both;
  content: "";
}

.logo {
  float: left;
  width: 180px;

  min-height: 100px;
}

.main-menu {
  float: right;
  margin-top: 22px;
  width: 680px;

  min-height: 40px;
}

.promo {
  width: 450px;

  min-height: 330px;
}

.features {
  padding-top: 85px;
  padding-bottom: 75px;
}

.features .container::after {
  display: table;
  clear: both;
  content: "";
}

.features-item {
  float: left;
  margin-right: 40px;
  width: 300px;
  min-height: 90px;
}

.features-item:last-child {
  margin-right: 0;
}

.feedback {
  padding-top: 60px;
  padding-bottom: 75px;
}

.feedback .container {
  position: relative;
}

.feedback-title,
.contacts-title {
  min-height: 50px;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 10px;
}

.feedback-item::after {
  display: table;
  clear: both;
  content: "";
}

.feedback-author {
  float: left;
  padding-left: 170px;
  width: 130px;
  min-height: 170px;
}

.feedback-content {
  float: right;
  margin: 0;
  width: 640px;
  min-height: 170px;
}

.contacts {
  padding-top: 65px;
  padding-bottom: 85px;
}

.contacts .container {
  display: table;
  clear: both;
  content: "";
}

.contacts-form {
  float: left;
  width: 640px;
  min-height: 445px;
}
.contacts-instruction {
  float: right;
  width: 300px;
  min-height: 445px;
}

.main-footer {
  padding-top: 94px;
  padding-right: 0;
  padding-bottom: 73px;
  padding-left: 0;
  background-color: #1f2022;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.footer-top::after,
.footer-bottom::after {
  display: table;
  clear: both;
  content: "";
}

.footer-address {
  float: left;
  margin-right: 55px;
  width: 285px;
  min-height: 210px;
}

.footer-menu {
  float: left;
  margin-top: 25px;
  width: 150px;
  min-height: 185px;
}

.footer-menu:nth-child(5) {
  float: right;
  width: 135px;
}

.footer-bottom {
  margin-top: 45px;
}

.copyright {
  float: left;
  width: 340px;
  min-height: 60px;
}

.footer-social-promo {
  float: left;
  width: 440px;
  min-height: 60px;
}

.footer-social {
  float: right;
  width: 190px;
  text-align: right;
  font-size: 0;
  min-height: 60px;
}








/*======================================
 Системное оформление - не изменять
=======================================*/

.gl0, .gl1, .gl2, .gl3 {
  position: relative;
}

.gl0:before, .gl1:before, .gl2:before, .gl3:before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  height: 20px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

.gl0 {
  box-shadow: inset 0 0 0 2px blue;
  background: rgba(0, 0, 255, .1);
}

.gl0:before {
  color: #fff;
  background: rgba(0, 0, 255, .9);
}

.gl1 {
  box-shadow: 0 0 0 2px green;
  background: rgba(0, 128, 0, .1);
}

.gl1:before {
  color: #fff;
  background: rgba(0, 128, 0, .9);
}

.gl2 {
  box-shadow: 0 0 0 2px rgb(255, 45, 82);
  background: rgba(255, 45, 82, .1);
}

.gl2:before {
  color: #fff;
  background: rgba(255, 45, 82, .9);
}

.gl3 {
  box-shadow: 0 0 0 2px rgb(234, 255, 45);
  background: rgba(234, 255, 45, .1);
}

.gl3:before {
  color: #000;
  background: rgba(234, 255, 45, .8);
}

.main-header:before{
  content: ".main-header";
}

.container:before{
  content: ".container";
}

.logo:before{
  content: ".logo";
}

.main-menu:before{
  content: ".main-menu";
}

.promo:before{
  content: ".promo";
}

.features:before{
  content: ".features";
}

.features-item:before{
  content: ".features-item";
}

.feedback:before{
  content: ".feedback";
}

.feedback-title:before{
  content: ".feedback";
}

.feedback-item:before{
  content: ".feedback-item";
}

.feedback-author:before{
  content: ".feedback-author";
}

.feedback-content:before{
  content: ".feedback-content";
}

.contacts:before{
  content: ".feedback";
}

.contacts-title:before{
  content: ".contacts-title";
}

.contacts-form:before{
  content: ".contacts-form";
}

.contacts-instruction:before{
  content: ".contacts-instruction";
}

.main-footer:before{
  content: ".main-footer";
}

.footer-top:before{
  content: ".footer-top";
}

.footer-bottom:before{
  content: ".footer-bottom";
}

.footer-address:before{
  content: ".footer-address";
}

.footer-menu:before{
  content: ".footer-menu";
}

.copyright:before{
  content: ".copyright";
}

.footer-social-promo:before{
  content: ".footer-social-promo";
}

.footer-social:before{
  content: ".footer-social";
}
